@inherits DirectCareConnect.Blazor.Components.Buttons.GoBackComponentBase

    <div class="panel-heading">
        <div class="header-secondary">
            <button @onclick="GoBack" class="btn btn-secondary go-back close-panel">
                <span class="sr-only">Go Back</span>
                <img src="/images/icon-chevron-left.png" />
            </button>
            @HeaderText
        </div>

    </div>