.btn-primary {
    color: #fff;
    background-color: #5E91B1;
    border-color: #5E91B1;
    width: 80%;
}

.btn-primary.disabled, body .btn-primary:disabled {
    color: #fff;
    background-color: #5E91B1;
    border-color: #5E91B1;
}

.btn.disabled, body .btn:disabled {
    opacity: .65;
}

