@inherits DirectCareConnect.Blazor.Pages.AddCredentialModelBase
@page "/addcredential/{Pid}/{CredTypeId}"
@using DirectCareConnect.Blazor.Components.Buttons
<div id="addCredential" class="panel panel-secondary">
    <div class="panel-heading">

            <GoBackComponent HeaderText="Add New Credential" OnGoBack="GoBack"></GoBackComponent>

    </div>


    <div class="panel-body p-3">
        <input type="hidden" id="credId" value="0">
      
        <div class="form-group">
            <label for="credTypeId">Select Credential</label>
            <select class="form-control form-control-sm doc" id="credTypeId">
                <option value="0"></option>
                <!--- if credtypeId is set then disable it -->
                <option value="3">Article 9 Certification</option>
                <option value="5">Resume</option>
            </select>
        </div>
        <div class="form-group">
            <label for="docId">Document ID:</label>
            <input type="text" class="form-control form-control-sm doc" id="docId">
        </div>
        <div class="form-group">

            <label for="validFrom">Valid From:</label>
            <div class="input-group date">
                <input id="validFrom" type="date" class="form-control form-control-sm">
            </div>
        </div>
        <div class="form-group">
            <label for="validTo">Valid To: </label>
            <div class="input-group date">
                <input id="validTo" type="date" class="form-control form-control-sm">
            </div>
        </div>

        <div class="form-group">
            <label>
                File Name:
            </label>
            <input id="credFileName" class="form-control form-control-sm fileName" disabled="">
        </div>
        <div class="form-group">
            <label>
                Select File:
            </label>
            <input id="credFileNameX" type="file" style="display:none" onchange="getCredentialFileName();">

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="updateCredential();">Add Credential</button>
            <button type="button" class="btn btn-primary" @onclick="GoBack">Close</button>
        </div>
    </div>
</div>