@inherits EndSessionRespiteBase
@page "/endsessionrespite/{ClientId:int}/{ClientServiceId:int}/{RemoteDocumentId:int}/{InternalDocId:int}"
@using DirectCareConnect.Blazor.Components.Notes

@using DirectCareConnect.Blazor.Components.Buttons
<div id="documentHabilitationSession" class="panel panel-secondary">
    <GoBackComponent HeaderText="Document Session" OnGoBack="GoBack"></GoBackComponent>

    <div class="panel-body p-3">
        
        <NotesTitleComponent EndSessionModel="Model"></NotesTitleComponent>
        <NotesComponent EndSessionModel="Model" OnInputReceived="InputReceived"></NotesComponent>
        <NoteResolutionComponent EndSessionModel="Model" OnGoBack="GoBack" OnSave="Save" OnSubmit="Submit" OnInputReceived="InputReceived"></NoteResolutionComponent>

    </div>
</div>

