@inherits IndexBase
@page "/"

<link rel="stylesheet" href="https://use.typekit.net/esp2ncx.css">

<div class="bg"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="circle-white">
            <img src="/images/Therapy-Corner-Logo.png" />
        </div>
    </div>
    <div class="panel-body text-center">
        <h1>Welcome to Therapy Corner</h1>
        <a class="btn btn-default" href="/login">
            Sign In
        </a>

        <div class="copyright">&copy; 2020 Therapy4kidz, LLC</div>
    </div>
</div>
